---
import type { CustomerData } from '../../lib/forms'
let formData: CustomerData = {
    name: '',
    address: '',
    homePhone: '',
    cellPhone: '',
    workPhone: '',
    email: '',
    emergencyContact: '',
    personsAccess: '',
    leashCarrierCrate: '',
    petFoodWaterBowlTreats: '',
    cleaningSuppliesVacuum: '',
    thermostat: '',
    breakerBox: '',
    alarmPanel: '',
    other: '',
    mail: false,
    newspaper: false,
    waterPlants: false,
    alternateLights: false,
    openCloseCurtains: false,
    garbageRecycle: false,
    cansOut: false,
    tvRadioOn: false,
    instructions: ''
};

export const partial = true
---
<form hx-post="/api/form">
    <div>
    <h3>Owner Information:</h3>
        <div>

                                <label for="name">Name
                                </label>
                                    <input type="text" id="name" name="name" autocomplete="name" placeholder="Name" value={formData.name}>
                                <label for="address">Address
                                </label>
                                    <input type="text" id="address" name="address" autocomplete="address" placeholder="Address" value={formData.address}>
                                <label for="homePhone">Home Phone
                                </label>
                                    <input type="tel" id="homePhone" name="homePhone" autocomplete="tel" placeholder="Home Phone" value={formData.homePhone}>
                                <label for="cellPhone">Cell Phone
                                </label>
                                    <input type="tel" id="cellPhone" name="cellPhone" autocomplete="tel" placeholder="Cell Phone" value={formData.cellPhone}>
                                <label for="workPhone">Work Phone
                                </label>
                                    <input type="tel" id="workPhone" name="workPhone" autocomplete="tel" placeholder="Work Phone" value={formData.workPhone}>
                                <label for="email">Email Address
                                </label>
                                    <input type="email" id="email" name="email" autocomplete="email" placeholder="Email Address" value={formData.email}>
                                <label for="emergencyContact">Emergency Contact
                                </label>
                                    <input type="text" id="emergencyContact" name="emergencyContact" autocomplete="name" placeholder="Emergency Contact" value={formData.emergencyContact}>
                                <label for="personsAccess">Persons with access to your home
                                </label>
                                    <input type="text" id="personsAccess" name="personsAccess" autocomplete="name" placeholder="Persons with access to your home" value={formData.personsAccess}>
                        </div>
                    </div>
                        

                        <div>
                        <h3>Item Whereabouts:</h3>
                           <div>


                            <label for="leashCarrierCrate">Leash/Carrier/Crate</label>
                            <input type="text" id="leashCarrierCrate" name="leashCarrierCrate" autocomplete="off" placeholder="Leash/Carrier/Crate" value={formData.leashCarrierCrate}>

                            <label for="petFoodWaterBowlTreats">Pet Food/Water Bowl/Treats</label>
                            <input type="text" id="petFoodWaterBowlTreats" name="petFoodWaterBowlTreats" autocomplete="off" placeholder="Pet Food/Water Bowl/Treats" value={formData.petFoodWaterBowlTreats}>

                            <label for="cleaningSuppliesVacuum">Cleaning Supplies/Vacuum</label>
                            <input type="text" id="cleaningSuppliesVacuum" name="cleaningSuppliesVacuum" autocomplete="off" placeholder="Cleaning Supplies/Vacuum" value={formData.cleaningSuppliesVacuum}>

                            <label for="thermostat">Thermostat</label>
                            <input type="text" id="thermostat" name="thermostat" autocomplete="off" placeholder="Thermostat" value={formData.thermostat}>

                            <label for="breakerBox">Breaker Box</label>
                            <input type="text" id="breakerBox" name="breakerBox" autocomplete="off" placeholder="Breaker Box" value={formData.breakerBox}>

                            <label for="alarmPanel">Alarm Panel</label>
                            <input type="text" id="alarmPanel" name="alarmPanel" autocomplete="off" placeholder="Alarm Panel" value={formData.alarmPanel}>

                            <label for="other">Other</label>
                            <input type="text" id="other" name="other" autocomplete="off" placeholder="Other" value={formData.other}>

                        </div>
                    </div>
                        <div>
                        <h3>Tasks:</h3>
                        <div id="chores">
                            <div>
                                <label for="mail">
                                    <input type="checkbox" id="mail" name="mail" value={formData.mail}>
                                    Mail
                                </label>
                                <label for="newspaper">
                                    <input type="checkbox" id="newspaper" name="newspaper" value={formData.newspaper}>
                                    Newspaper
                                </label>
                                <label for="waterPlants">
                                    <input type="checkbox" id="waterPlants" name="waterPlants" value={formData.waterPlants}>
                                    Water Plants
                                </label>
                                <label for="alternateLights">
                                    <input type="checkbox" id="alternateLights" name="alternateLights" value={formData.alternateLights}>
                                    Alternate Lights
                            </label>
                            </div>
                            <div>
                                <label for="openCloseCurtains">
                                    <input type="checkbox" id="openCloseCurtains" name="openCloseCurtains" value={formData.openCloseCurtains}>
                                    Open/Close Curtains
                                </label>
                                <label for="garbageRecycle">
                                    <input type="checkbox" id="garbageRecycle" name="garbageRecycle" value={formData.garbageRecycle}>
                                    Garbage/Recycle
                                </label>
                                <label for="cansOut">
                                    <input type="checkbox" id="cansOut" name="cansOut" value={formData.cansOut}>
                                    Cans out to street
                                </label>
                                <label for="tvRadioOn">
                                    <input type="checkbox" id="tvRadioOn" name="tvRadioOn" value={formData.tvRadioOn}>
                                    TV/Radio on
                                </label>
                            </div>

                        </div>
                </div>
                    <div id="instructions-container">
                        <label for="instructions">Instructions</label>
                        <textarea id="instructions" name="instructions" rows="6" value={formData.instructions}></textarea>
                    </div>
    <button type="submit" hx-disabled-elt="this"
    >submit</button>

</form>

<style>
    button {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border: none;
        cursor: pointer;
        margin: 4px 2px;
        border-radius: 12px;
        height:60px;
    }
    textarea {
        width: 100%;
        font-size: larger;
    }

    input[type="text"], input[type="tel"], input[type="email"] {
        font-size: larger;
        width: 100%;
    }

    form {
        display: inline-block;
        
        width: 100%;

    }

    div {
        flex-basis: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    input::placeholder {
        color: rgba(81, 81, 81, 0.256);
    }
</style>