---

import PetIcons from './PetIcons.astro'
import LocationInfoForm from '../pages/partials/forms/LocationInfoForm.astro'
const { location, index } = Astro.props;
---


    <div class="location">
      
        <button class="locButton" type="button" class="btn" data-bs-toggle="modal" data-bs-target={`#locModal${index}`}>{location.name} 📝</button>
    <div>
      <PetIcons pets={location.pets} />
    </div>

    <div class="modal fade" id={`locModal${index}`} tabindex="-1"  aria-labelledby="locModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header">
              <h5 class="modal-title" id="locModalLabel">{location.name} </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <LocationInfoForm locationData={location} />
          </div>
        
        </div>
      </div>
    </div>

  </div>

<style>
  .location {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px 0;
  }


  .locButton {
    padding: 10px;
    background-color: #ffffff7f;
    flex: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
</style>