---

import PetIcons from './PetIcons.astro'
import LocationInfoForm from '../pages/partials/forms/LocationInfoForm.astro'
const { location, index } = Astro.props;
---


    <div>
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target={`#locModal${index}`}>{location.name}</button>
        <PetIcons pets={location.pets} />


    <div class="modal fade" id={`locModal${index}`} tabindex="-1"  aria-labelledby="locModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          
          <div class="modal-header">
              <h5 class="modal-title" id="locModalLabel">{location.name}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">
            <LocationInfoForm locationData={location} />
          </div>
        
        </div>
      </div>
    </div>

  </div>

