---

const { pets } = Astro.props;
---

<div class="pets">
{ pets.map((petData: any, index: number) => 

    <button class="pet-icon btn" data-bs-toggle="modal" data-bs-target={`#petModal${index}`}>
        <img 
            title={ `${petData.name} : ${petData.description}` } 
            src={`/images/icons/${petData.cat ? 'cat' : 'dog'}.svg`}
            style="pointer-events: none;"
        />{petData.name}
    </button>
    <div class="modal fade" id={`petModal${index}`} aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img 
                        title={ `${petData.name} : ${petData.description}` } 
                        src={`/images/icons/${petData.cat ? 'cat' : 'dog'}.svg`}
                        style="pointer-events: none;"
                    />
                    {petData.name}
                </div>
                <div class="modal-body">
                    <p class="text-center">{petData.description}</p>
                </div>
            </div>
        </div>
    </div>
     ) }
</div>



<style>
    .pet-icon {
        
        padding: 10px;
        margin: 2px;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    img {
        width: 30px;
        height: 30px;
        
    }
    .pets {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

</style>
