---

import PetIcons from './PetIcons.astro'
import LocationInfoForm from '../../partials/forms/LocationInfoForm.astro'
const { location, index = 0 } = Astro.props;
---


    <div class="location" id={`locRow${index}`}>
        <button 
          type="button" 
          class="btn loc-btn" 
          hx-get="/admin/partials/forms/LocationInfoForm" 
          hx-target={`#locRow${index}`}>{location?.address} 📝</button>
    <div>
      <PetIcons pets={location?.pets} index={index} />
    </div>


  </div>

