---

const { data, index, visitType } = Astro.props;

export const partial = true;

type task = {
    name: string,
    label: string
};

const tasknames = { 
    'mail' : 'Get mail',
    'waterPlants' : 'Water plants',
    'garbageRecycle' : 'Trash / Recycling',
    'openCloseCurtains' : 'Open / Close curtains',
    'alternateLights' : 'Alternate lights' ,
    'tvRadioOn' : 'Turn on TV / Radio',
    'other' : data.other,
    }


const checklist: task[] = 
    Object.keys(data)
        .filter(key => key !== 'other')
        .map(key => ({ name: key, label: tasknames[key] }));








console.log(checklist);
---


<div>
    <button class="btn btn-info" title="task checklist" data-bs-toggle="modal" data-bs-target={`#taskModal${index}`}>
        <span style="font-size: 20px">✔️</span>
    </button>
</div>

<div class="modal modal-sm fade" id={`taskModal${index}`} aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                Tasks
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <li><label for="vist-type">{visitType}<input type="checkbox" id="visit-type"/></label></li>
                    { checklist.map((task: task) => <li><label for={task.name}>{task.label}<input type="checkbox" id={task.name}/></label></li> ) }
                </ul>
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

